@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.title {
  font-size: calc(10vw + 30px);
  text-align: center;
  margin-block: auto;
  margin-left: 100%;
  animation: title 2s;
  animation-timing-function: ease-in-out;
}

@keyframes title {
  from {
    margin-left: 100%;
    transform: translate(0, 0);
  }
  50% {
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  to {
    margin-left: -100%;
    transform: translate(-100%, 0);
  }
}
.skill-even {
  font-size: calc(3vw + 30px);
  margin-left: 0;
}

@keyframes move-even {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}

.skill-odd {
  font-size: calc(3vw + 30px);
  margin-left: 100%;
  transform: translate(-100%);
}

@keyframes move-odd {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 100%;
  }
}

.box {
  background-image: repeating-linear-gradient(1deg, #fff, #fff 30px, transparent 30px, transparent 45px, #fff 45px), repeating-linear-gradient(91deg, #fff, #fff 30px, transparent 30px, transparent 45px, #fff 45px), repeating-linear-gradient(181deg, #fff, #fff 30px, transparent 30px, transparent 45px, #fff 45px), repeating-linear-gradient(271deg, #fff, #fff 30px, transparent 30px, transparent 45px, #fff 45px);
  background-size: 5px 100%, 100% 5px, 5px 100% , 100% 5px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  }

#clock{
  font-size: calc(8vw + 36px);
}
.text{
  font-size: calc((8vw + 36px)/2);
}

.circle{
  height: calc(20vw + 200px);
  aspect-ratio: 1/1;
}

.mid{
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background: white;
}
