@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='10' stroke-dasharray='30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

#four-oh-four {
    background: rgb(255,0,0);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(200,103,103,1) 50%, rgba(255,0,0,1) 100%);
}
#transition {
  transition-duration: 500ms;
  transition-property: all;
  transform-origin: right;
}
#line{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='30' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
@keyframes padding {
  0%   {padding:0px;}
  25%  {padding:24px;}
  50%  {padding:0px;}
  75%  {padding:24px;}
  100% {padding:0px;}
}

#logo-container{
  animation-name: padding;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes error {
  0% {background: rgb(165, 0, 0);}
  25% {background: red}
  50% {background: rgb(165, 0, 0);}
  75% {background: red;}
  100% {background: rgb(165, 0, 0);}
}
#error{
  animation-name: error;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#line{
  transition-duration: 2000ms;
}